* { 
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
 }
 body {
  background-color: #f6f8fc;
 }
  .content {
     width: 100vw;
     height: 100vh;
    padding: 1rem;
     background-color: #fff;
 }



 @media screen and (min-width: 992px) {
  .content { 
     max-width: 992px;
     margin: 0 auto;
  }

 }

   ol.pokemons {
   display: grid;
   grid-template-columns: 1fr;
   padding: 0;
   margin: 0;
   list-style: none; 
   }
   
 


   @media screen and (min-width: 380px) {
    ol.pokemons { 
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: 576px) {
    ol.pokemons { 
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media screen and (min-width: 992px) {
    ol.pokemons { 
      grid-template-columns: 1fr 1fr 1fr;
    }
  }


 


